/* This file contains all @font-face declarations, if any. */
@font-face {
    font-family: "iconfont";
    src: url('../../fonts/iconfont.eot'); /* IE9*/
    src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
    content: "\e60a";
}

.icon-checked:before {
    content: "\e605";
}

.icon-account:before {
    content: "\e601";
}

.icon-data:before {
    content: "\e602";
}

.icon-message:before {
    content: "\e603";
}

.icon-password:before {
    content: "\e604";
}

.icon-chat:before {
    content: "\e606";
}

.icon-group:before {
    content: "\e607";
}

.icon-report:before {
    content: "\e608";
}

.icon-advance:before {
    content: "\e609";
}

.icon-oa:before {
    content: "\e600";
}

.icon-globe:before {
    content: "\e60b";
}
